.image, .image1{
	width: 250px;
	height: auto;
}
.newishStart{margin-right: 20em}
a{color:#4AA3DF;}
#title, #subtitle{}
	#title{font-size: 4em}
.logo{ height: 9em;
		width:auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1.8em}
.firstInfo{margin-top: 2em}

.ui-helper-hidden-accessible { display:none; }
.ui-helper-hidden-accessible { position: absolute; left:-999em; }
body{background-color: #354B60;
	color:#E98B39;
	font-family: open Sans, arial;
	text-shadow:2px 2px 2px black;}
input{height: 3em;
	width: 15em;
	text-align: center;
	overflow: hidden;
	border-radius: 2em;
	text-shadow: 2px 2px 2px black;
	background-color: #354B60;
	box-shadow: 2px 2px 2px black}
	.ui-autocomplete { height: auto; 
			width:10em;
			list-style:none;
			line-height: 2em;
			overflow-y: hidden; 
			overflow-x: hidden;
			font-size: 1.2em;
			border:2px solid #E98B39;
			border-radius: 1em;
			box-shadow: 2px 2px 2px black;
			}
	.ui-state-focus{color: #9B50BA;}
.charList, .serList{height:20em;
			overflow:auto;
			width:15em;
			margin-top: 20em;
			border:2px solid #E98B39;
			border-radius: 2em;
			text-align: center;
			box-shadow: 2px 2px 2px black}
.serStuff, .charStuff{font-size: 1.2em;
			line-height: 2em;}
.newStart, .charList, .serList, .eDesc, .startOver{
	margin-top: 2em;}
.middleSpot{margin-top: 2em}
.eName{font-size: 3em}

.inputType{font-size: 1.2em}
button{width: 10em;
		height:3em;
		border-radius: 2em;
		box-shadow: 2px 2px 2px black;
		margin-top: 2em;
		background-color: #354B60;
		text-shadow: 2px 2px 2px black;
	font-size: 1.5em}
button:hover{
	background-color: #D14233;
	color:#FBFCFC;
	text-shadow: 2px 2px 2px black;
}
#nameText{font-size: 1.5em}
.wooYeah{color:black;}
.events{line-height: 2em;
		margin-top: 1em;}
.banner{ margin-bottom: 3em;
		margin-left: 1em;
		margin-right: 1em;
		border: 3px solid #E98B39;
		border-radius: 2em;
		margin-top: 1em;
		box-shadow: 2px 2px 2px black;
		line-height: 1em}
.startBtn{margin-left: 25%}
img{margin-bottom: 2em;
	border-radius: 2em}
.characterDescription{font-size: 1.2em;
					margin-top: 2.5em}
.eventList{font-size:1.2em;
			line-height: 2.2em}