.image, .image1{
	width: 250px;
	height: auto;
}
.ui-helper-hidden-accessible { display:none; }
.ui-helper-hidden-accessible { position: absolute; left:-999em; }
body{background-color: #354B60;
	color:#E98B39;
	text-shadow:2px 2px 2px black;}
input{max-height: 2em;
	overflow: hidden;
	border-radius: 2em;
	box-shadow: 2px 2px 2px black}
	.ui-autocomplete { height: auto; 
			width:10em;
			overflow-y: hidden; 
			overflow-x: hidden;
			font-size: 1.2em;
			border:2px solid #E98B39;
			border-radius: 1em;
			box-shadow: 2px 2px 2px black;
			}
.charList, .serList{height:20em;
			overflow:auto;
			width:10em;
			border:2px solid #E98B39;
			border-radius: 2em;
			text-align: center}
.newStart, .charList, .serList, .eDesc, .startOver{
	margin-top: 2em;}
.middleSpot{margin-top: 2em}
.eName{font-size: 3em}

.inputType{font-size: 1.2em}
.startBtn{width: 10em;
		height:3em;
		border-radius: 2em;
		box-shadow: 2px 2px 2px black;
		margin-top: 2em}