.image, .image1{
	width: 30vw;
	height: 80vh;
	position: absolute;
	z-index: -9000;
	box-shadow: 2px 2px 2px black;
	border-radius: 2em;
	opacity: .60;
}
.startBtn{margin-right: 3vw;}

.eventPush{margin-left:2 }
p{font-size: 1.2em}
.cEvents, .cStories{margin-left: 1em;
					margin-right: 1em;
					list-style:none;}
.loading, .loading1{font-size: 1.2em;
					margin-top: 2em}
.description, .description1{ margin-top:20%;}

#firstInfo, .secondInfo{z-index: 1;
			text-align: center;
			height: 80vh;
			margin-right: 1em;
			margin-left: 1em;}
.firstInfo{margin-left: 1em;
			margin-right: 1em}
.newishStart{margin-right: 20em}
a{color:#F9BF3B;}
	#title{font-size: 4em}
.logo{ height: 9em;
		width:auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1.8em}
.firstInfo{margin-top: 2em}

.ui-helper-hidden-accessible { display:none; }
.ui-helper-hidden-accessible { position: absolute; left:-999em; }
body{background-color: #0A5FA2;
	color:white;
	font-family: open Sans, arial;
	text-shadow:2px 2px 2px black;}

input:focus{outline:none;}
input{height: 3em;
	width: 15em;
	text-align: center;
	overflow: hidden;
	border-radius: 2em;
	text-shadow: 2px 2px 2px black;
	background-color: #0A5FA2;
	box-shadow: 2px 2px 2px black}
	.ui-autocomplete { height: auto; 
			width:10em;
			list-style:none;
			line-height: 2em;
			overflow-y: hidden; 
			overflow-x: hidden;
			font-size: 1.2em;
			border:2px solid #F9BF3B;
			border-radius: 1em;
			box-shadow: 2px 2px 2px black;
			}
	.ui-state-focus{color: #9B50BA;}
.charList, .serList{height:20em;
			overflow:auto;
			width:15em;
			margin-top: 20em;
			border:2px solid #F9BF3B;
			border-radius: 2em;
			box-shadow: 2px 2px 2px black}
.serStuff, .charStuff{font-size: 1.2em;
			line-height: 2em;
			margin-top: 2em}
.newStart, .charList, .serList, .eDesc, .startOver{
	margin-top: 2em;}
.middleSpot{margin-top: 2em}
.eName{font-size: 3em;
		text-align: center;}
.eDesc{font-size: 1.2em;
		text-align:center;}

.inputType{font-size: 1.2em}
button{width: 10em;
		height:3em;
		border-radius: 2em;
		box-shadow: 2px 2px 2px black;
		margin-top: 2em;
		background-color: #354B60;
		text-shadow: 2px 2px 2px black;
	font-size: 1.5em}
button:hover{
	background-color: #D14233;
	color:#FBFCFC;
	text-shadow: 2px 2px 2px black;
}
#charStuff{text-align: right}
#serStuff{text-align: center;
		margin-left: 2em}
#nameText{font-size: 1.5em;
		margin-left: 4em}
.wooYeah{color:black;}
.events{line-height: 2em;
		margin-top: 1em;
		margin-left: 4em}
.banner{ margin-bottom: 3em;
		margin-left: 1em;
		margin-right: 1em;
		border: 3px solid #F9BF3B;
		border-radius: 2em;
		margin-top: 1em;
		box-shadow: 2px 2px 2px black;
		line-height: 1em}
.characterDescription{font-size: 1.2em;
					margin-top: 2.5em}
.eventList{font-size:1.2em;
			line-height: 2.2em}
.eventName{text-align: center}



@media screen and (max-width: 990px){
	.logo{display:none;}
	#title{font-size: 3.5em}
	.banner{ margin-bottom: 3em;
		text-align: center;
		margin-left: 10%;
		border: 0px;
		border-radius: 2em;
		margin-top: 1em;
		box-shadow: 0px 0px 0px black;
		line-height: 1em}
		input{height: 3em;
	width: 90vw;}
	input{width:45vw;}
	.image1, .image{width: 80vw;
	height: 80vh;}
	.ui-autocomplete { width:45vw;
		list-style:circle;
			height: auto;
			max-height: 40vh}
			.startBtn{margin-top: 42vh}
	#bigTime{margin-left: 6vw}
	#charStuff, #serStuff{text-align: center}
	.charList, .serList{margin-left: 10vw;
						width: 80vw;}
		#serStuff{margin-right: 5vh;}
		input:focus{background-color: #D14233}
}


